adal==1.2.4
amqp==2.6.1
anyjson==0.3.3
appnope==0.1.2
attrs==20.3.0
azure-batch==3.0.0
azure-common==1.1.25
azure-core==1.6.0
azure-datalake-store==0.0.48
azure-graphrbac==0.30.0
azure-keyvault==0.3.7
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.0.0
azure-mgmt-cdn==0.30.3
azure-mgmt-cognitiveservices==1.0.0
azure-mgmt-compute==1.0.0
azure-mgmt-containerregistry==0.2.1
azure-mgmt-datalake-analytics==0.1.6
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.1.6
azure-mgmt-devtestlabs==2.0.0
azure-mgmt-dns==1.0.1
azure-mgmt-documentdb==0.1.3
azure-mgmt-iothub==0.2.2
azure-mgmt-keyvault==0.31.0
azure-mgmt-logic==2.1.0
azure-mgmt-monitor==0.2.1
azure-mgmt-network==1.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-rdbms==0.1.0
azure-mgmt-redis==4.1.1
azure-mgmt-resource==1.1.0
azure-mgmt-scheduler==1.1.3
azure-mgmt-sql==0.5.3
azure-mgmt-storage==1.0.0
azure-mgmt-trafficmanager==0.30.0
azure-mgmt-web==0.32.0
azure-nspkg==3.0.2
azure-servicebus==0.21.1
azure-servicefabric==5.6.130
azure-servicemanagement-legacy==0.20.7
azure-storage==0.34.2
backcall==0.1.0
billiard==3.6.3.0
botocore==1.17.57
celery==4.3.0
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==2.9.2
decorator==4.4.2
docutils==0.15.2
Flask==1.1.2
future==0.18.2
gevent==20.6.2
greenlet==0.4.16
idna==2.9
iniconfig==1.1.1
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==0.24
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jmespath==0.10.0
keyring==21.2.1
kombu==4.6.11
linecache2==1.0.0
MarkupSafe==1.1.1
marshmallow==3.5.0
msrest==0.6.15
msrestazure==0.4.34
oauthlib==3.1.0
packaging==20.8
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pika==0.13.0
pluggy==0.13.1
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.10.0
PyAMQP==0.1.0.7
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
s3transfer==0.3.3
six==1.15.0
toml==0.10.1
traceback2==1.4.0
traitlets==4.3.3
unittest2==1.1.0
urllib3==1.25.9
vine==1.3.0
wcwidth==0.2.4
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
